<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" type="text/css" href="~/Content/css/ratchet.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
	<script type="text/javascript" src="~/Content/js/ratchet.js"></script>
	<title></title>
</head>

<body>

	<header class="bar bar-nav">
		<a class="icon icon-left-nav pull-left" href="/"></a>
		<h1 class="title">flashcards</h1>
		<a class="icon icon-share pull-right" href="#"></a>
	</header>

	<div class="bar bar-footer">
		<form method="post">

			<button class="btn btn-positive pull-left">
				Correct
			</button>

			<button class="btn btn-negative pull-right">
				Incorrect
			</button>
		</form>
	</div>

	<div class="content-padded">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

	</div>
</body>
</html>
